{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Mi mascota{% endblock %}

{% block content %}
<section class="content_29 bg-light pb-50 pt-80">
        <div class="card">
                <div class="row g-0">
                        <div class="col-md-4">
                                <div class="card-body">
                                        <h1 class="title-content">Cuidados especiales para el peludito de la casa</h1>
                                        <p> Vet GT brinda los mejores consejos para el cuidado de la mascota gracias al gran apoyo de cada uno de los
                                        veterinarios y veterinarias especializados en sus areas, con gran experincia y conomiento sobre los mejores tratamiento y 
                                        cuidados.
                                        </p>
                                        <p>Aquí encontraras diversos consejos para consentir a tu pequeño peludo,
                                                desde cuidado de la alimentación, estado de salud, comunicación y entrenamiento sano.</p>
                                </div>
                        </div>
                        <div class="col-md-3">
                                <img src="/static/images/my_pet.jpg" class="img-thumbnail" alt="...">
                        </div>
                </div>
        </div>
</section>
<section class="content_29 bg-light pb-50 pt-80">
   
    <div class="card brands-webpage-odd">
         <h4 class="mb-25 section-title">Profesionales en el cuidado de tu mascota</h4>
        <div class="row g-0">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="card-body">
                        <h1 class="card-title ">Purina</h1>
                        <p class="card-text">Instala cerraduras para niños en los armarios bajos de la cocina, sobre todo si guardas productos de limpieza en su interior.</p>
                        <p class="card-text">Si tienes el taladro a mano, coloca puertas para bebés en la parte superior e inferior de las escaleras para evitar que los cachorros o los perros de edad adulta 7+ se caigan accidentalmente, o que accedan a partes de la casa donde no deben estar.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/purina.png" class="img-thumbnail brands-images" alt="...">
                </div>
            </div>  
        </div>
    </div>
    <div class="card brands-webpage-even">
        <div class="row g-0">
            <div class="row g-0">
            <div class="col-md-4">
            <img src="/static/images/mundo_deportivo.png" class="img-thumbnail brands-images" alt="...">
            </div>
            <div class="col-md-4">
            <div class="card-body">
                <h1 class="card-title">Mundo deportivo</h1>
                <p class="card-text"><b>Acaricia a tu perro:</b> Un trato amoroso es muy aconsejable para la salud de tu mascota. Tómate algún momento del día para compartir con tu perro y consigue un tiempo de calidad. Aprovecha para acariciarlo, abrazarlo o darle un masaje relajante en patas y muslos.</p>
                <p class="card-text"><b>Educa a tu perro:</b> Emplea unos minutos de tu día para jugar con él, ya sea lanzando una pelota o darle un largo paseo por el parque.</p>
            </div>
            </div>  
        </div>
    </div>
</section>

{% endblock %}