{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Servicios{% endblock %}

{% block content %}
<section class="content_29 bg-light pb-50 pt-80">
    <div class="card">
        <div class="row g-0 justify-content-center text-center">
                <div class="col-md-12">
                        <div class="card-body">
                                <h1 class="title-content">Nuestros servicios con <br> calidad guatemalteca</h1>
                                <p> Cada uno de los servicios que se ofrecen en Vet GT lleva un proceso de control de calidad tanto en servicios propios como de terceros.
                                </p>
                        </div>
                </div>
        </div>
        <div class="container justify-content-center text-center">
            <div class="row">
                <div class="col">
                    <h4 class="title-content">Adopciones</h4>
                    <br>
                    <p>Una adopción es la representación un gran corazón, dándole un hogar seguro y amor a una mascota.</p>
                </div>
                <div class="col">
                    <h4 class="title-content">Academias de adistramiento</h4>
                    <p>Parte fundamental del crecimiento de las mascotas es la educación, por lo que se tienen los mejores servicios en academias de adiestramiento.</p>
                </div>
                <div class="col">
                    <h4 class="title-content">Cuidados especiales para mi mascota</h4>
                    <p>El cuidado especial para la mascota es muy importante por lo que contamos solo con los mejores servicios para su cuidado.</p>
                </div>
                <div class="col">
                    <h4 class="title-content">Transporte seguro</h4>
                    <br>
                    <p>Sabemos que el transporte de la mascota usualmente es difícil por eso te ofrecemos los mejores transportes y cuidados a tu mascota.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}